@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>This is an application where admins can manage their registered users.</h3>

<p>current roles for users:
    <ul>
        <li>Admin - admins are authorized to access user role management, management access include such as creating/assigning role, and viewing status of users' roles</li>
        <li>Superuser - superusers only have access on contact page</li>
        <li>User - users only have access on about page</li>
    </ul></p>
