@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Juan Carlos Lauron</h3>

<address>
    <a href="https://www.linkedin.com/in/jclauron/">Linkedin</a> <br />
   <a href="https://github.com/jzlauron">GitHub</a><br />
    <abbr title="Phone">P:</abbr>
    780-707-8170
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@